html,body {
  margin: 0;
  background-color: #2f4f30;
  color: white;
}

.reglas {
  text-align: center;
  background-color: #242424;
}

.reglas p{
  padding-bottom: 20px;
  margin: 0px 100px;
}

.titulo2 {  
  color: white;
  padding: 5px;
  font-size: 25px;
}

.titulo {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
  height: 240px;
}

.titulo .symbol {
  display: inline-flex;
  margin-top: 0px;
  font-size: 25px;
  align-items: center;
  justify-content: center;  
  margin-left: 3px;
  margin-right: 3px;
}

#n1 {
  color: rgb(42, 42, 42);
}

#n2 {
  color: rgb(161, 19, 19);
}

#n3 {
  color: rgb(161, 19, 19);
}

#n4 {
  color: rgb(42, 42, 42);
}

@media ( max-width: 900px ) {
  
  .reglas p{
    margin: 0px 10px;
    font-size: 14px;
  }

  .titulo .symbol {
     font-size: 25px;
  }
   
  .titulo {
    padding-top: 20px ;
    padding-bottom: 10px ;
  }

  .carta {
    position: relative;
    width: 130px;
    left: 100px;
    margin-left: -75px;
  }

  body .titulo3 {
    margin-top: -37px;
  }

  body .titulo4 {
    margin-top: 10px;
  }


}
